/*import open sans font from google fonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Open Sans;
    scroll-behavior: smooth;
}

nav {
    text-align: center;
    padding: 1vh 25vw 1vh 25vw;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bold;
}

    nav a {
        color: #DFE4E7;
        text-decoration: none;
        transition: 0.2s ease-in-out;
        border-bottom: solid 1px #DFE4E7;
    }

        nav a:hover {
            color: #CC3300;
            border-bottom: solid 1px #CC3300
        }

    nav section {
        padding: 16px;
        background-color: rgba(223, 228, 231, 0);
        width: 120px;
        border-radius: 10px;
        transition: 0.2s ease-in-out;
    }


/*Primary*/

#primary {
    width: 100%;
    /* background created by https://www.craiyon.com/ */
    background: radial-gradient(transparent, rgba(0,0,0,0.8)), url(background.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    color: #DFE4E7;
    padding-bottom: 16px;
}

#primary h1 {
    font-size: 36px;
    line-height: 64px;
}

#primary h2 {
    font-size: 24px;
    line-height: 56px;
}

#primary p {
    margin: 8px 12px 8px 12px;
}

    #primary button {
        padding: 10px;
        margin-right: 10px;
        width: 100px;
        background-image: linear-gradient(rgba(47, 47, 59, 0.4), rgba(47, 47, 59, 0.7));
        background-color: rgba(0, 0, 0, 0);
        border-radius: 10px;
        color: #DFE4E7;
        transition: 0.2s ease-in-out;
    }

#primary button:hover {
    color: #CC3300;
    border-color: #DFE4E7;
}

#primary hr {
    border-color: #DFE4E7;
}

aside {
    float: right;
    width: 25vw;
    background-image: linear-gradient(rgba(47, 47, 59, 0.4), rgba(47, 47, 59, 0.7));
    margin: 50px 16vw 50px 50px;
    height: calc(90vh - 100px);
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}

    aside section {
        margin: 26px;
    }

    aside a {
        color: #DFE4E7;
        text-decoration: none;
        transition: 0.2s ease-in-out;
    }

    aside a:hover {
        text-decoration: underline;
    }

/*Secondary*/

#secondary {
    background-color: #DFE4E7;
    padding: 32px 16vw 0 16vw;
}


/*Content*/

.content {
    margin: 4vh 16vw 0 16vw;
}

/*Def-list*/

dl {
    display: flex;
    justify-content: left;
}

dl section {
    width: 256px;
}

dt {
    font-weight: bold;
}


/*Lists*/

ul {
    margin-left: 20px;
}


/*Flexboxes*/

.flex-container {
    display: flex;
    justify-content: space-around;
}

.flexbox {
    width: calc(100vw/6);
    overflow: auto;
    padding: 16px;
    background-image: linear-gradient(rgba(47, 47, 59, 0.4), rgba(47, 47, 59, 0.7));
    border: 2px solid #DFE4E7;
    border-radius: 10px;
}


/*Tables*/

table {
    border-collapse: collapse;
}

td {
    padding: 10px;
}

th {
    padding: 10px;
    width: calc(68vw/6);
}


/*Forms*/

.formSection {
    margin-top: 4px;
}

fieldset {
    padding: 10px;
}

label {
    margin-left: 8px;
    width: 128px;
    display: inline-block;
    vertical-align: top;
}

input {
    background-color: #FFFFFF;
    padding-left: 4px;
    margin-left: 8px;
}

select {
    background-color: #FFFFFF;
    padding-left: 4px;
    margin-left: 8px;
    margin-left: 8px;
}

.gender {
    width: auto;
}


/*Figures*/

figure {
    margin: 32px;
    text-align: center;
    font-size: 12px;
}

    figure img {
        height: 25vh;
        width: auto;
    }