/* Styling only applied below 1400px screen width */
@media(max-width: 1400px) {
  .index-content {
    display: block;
  }

  .index-content section {
    padding-bottom: 20px;
  }

  .index-content figure {
    padding: 0 6vw 0 6vw;
  }
}

/* Styling only applied below 700px screen width */
@media(max-width: 700px) {

  /* When the checkbox is checked on the mobile view, expand the collapsible menu */
  #navbar-checkbox:checked~nav {
    padding: 30px 0 0 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(47, 47, 59, 0.8), rgba(47, 47, 59, 1));
    border-radius: 10px;
    top: 0;
    width: 175px;
    height: 400px;
    /* Z-index used to place checkbox above collapsed nav */
    z-index: 0;
  }
  
  /* Close the navbar when unchecked */
  #navbar-checkbox:not(:checked)~nav {
    display: none;
  }

  /* Shift the logo to the right */
  .logo {
    left: auto;
    right: calc(1vh + 16px);
  }

  /* manage link styling*/
   .manage-link {
     position: absolute;
     right: 35px;
    }

  /* Apply custom styling for the icon to make it look like a button */
  .navbar-button {
    position: relative;
    display: block;
    z-index: 1;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    background-color: #5e5e5e;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;
  }

  .navbar-button:hover {
    background-color: #999999;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
  }

  .navbar-button img {
    width: 100%;
  }

  nav a {
    display: block;
  }

  nav section {
    padding: 0;
    text-align: left;
  }

  /* Shrink the group photo width */
  .about-info figure {
    float: none;
    width: 70vw;
  }

  /* Apply minor padding, margin and width changes as screen shrinks */
  #secondary {
    padding: 32px 4vw 32px 4vw;
  }

  .content {
    margin: 4vh 2vw 0 2vw;
  }

  aside {
    width: 40vw;
  }

  aside section {
    margin: 12px;
  }

  #primary h1 {
    font-size: 1.5em;
  }

  #primary p {
    margin: 0;
  }

  .timetable-info {
    display: none;
  }

}