/* CSS style for SKP website
Authors William and Anton Chuchuva*/


/*import open sans font from google fonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* Applying global styling */

* {
  margin: 0px;
  padding: 0px;
  font-family: Open Sans;
  scroll-behavior: smooth;
}

/* Logo styling */
.logo {
  width: 75px;
  position: absolute;
  /* Adding 1 viewport height and 16px together dynamically */
  top: calc(1vh + 16px);
  left: calc(1vh + 16px);
}

/* Nav styling */

nav {
  text-align: center;
  padding: 1vh 25vw 30px 25vw;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  font-weight: bold;
}

nav a {
  color: #DFE4E7;
  text-underline-offset: 20px;
  text-decoration-thickness: 1px;
  text-decoration-color: #DFE4E7;
  /* Animation easing for clean look */
  transition: 0.2s ease-in-out;
}

nav a:hover {
  text-decoration-color: #EE3300;
  color: #EE3300;
}

nav div {
  padding-top: 16px;
  background-color: rgba(223, 228, 231, 0);
  width: 120px;
  border-radius: 10px;
  /* Animation easing for clean look */
  transition: 0.2s ease-in-out;
}

/* By defualt hide the checkbox for the collapsible menu */
.navbar-button,
#navbar-checkbox {
  display: none;
}


/*Primary*/

#primary {
  width: 100%;
  /* background created by https://www.craiyon.com/ */
  background: radial-gradient(transparent, rgba(0, 0, 0, 0.8)), url(images/background.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: block;
  overflow: auto;
  color: #DFE4E7;
  padding-bottom: 16px;
}

#primary h1 {
  font: 36px Open Sans;
  line-height: 64px;
}

#primary h2 {
  font-size: 36px;
  line-height: 56px;
}

#primary h3 {
  font-size: 24px;
  line-height: 56px;
}

#primary p {
  margin: 8px 12px 8px 12px;
}

#primary .button {
  padding: 10px;
  margin-right: 10px;
  /* Make gradient background for button */
  background-image: linear-gradient(rgba(47, 47, 59, 0.4), rgba(47, 47, 59, 0.7));
  border: 1px solid rgba(166, 166, 166, 0.7);
  border-radius: 10px;
  color: #DFE4E7;
  /* Animation easing for clean look */
  transition: 0.2s ease-in-out;
}

#primary .button {
  text-decoration: none;
  color: #DFE4E7;
  border-style: outset;
  border-width: 2px;
  border-color: rgba(223, 228, 231, 1);
}

#primary nav .button {
  display: none;
}

#primary .button:hover {
  color: #CC3300;
  border-color: #DFE4E7;
}

#primary hr {
  border-color: #DFE4E7;
}

#primary a {
  text-decoration: none;
  color: #979797;
  transition-duration: 0.2s;
}

#primary a:hover {
  color: #DFE4E7;
  text-decoration: underline;
}

/* Aside section */

aside {
  float: right;
  width: 25vw;
  /* Make gradient background for aside */
  background-image: linear-gradient(rgba(47, 47, 59, 0.4), rgba(47, 47, 59, 0.7));
  margin: 50px 16vw 50px 50px;
  height: 60vh;
  border: 2px solid #DFE4E7;
  border-radius: 10px;
}

aside section {
  margin: 26px;
}

aside a {
  color: #DFE4E7;
  text-decoration: none;
}

aside a:hover {
  text-decoration: underline;
}

/*Secondary*/

#secondary {
  background-color: #DFE4E7;
  padding: 32px 16vw 32px 16vw;
}

#secondary h1 {
  font-size: 3em;
  text-align: center;
}

#secondary h2 {
  font-size: 2.5em;
  padding-bottom: 25px;
  border-bottom: 1px solid #aeaeae;
}

#secondary h3 {
  font-size: 1.7em;
  padding: 15px 0 15px 0;
}

#secondary em {
  font-size: 1.2em;
}

#secondary p {
  padding-bottom: 10px;
}

#secondary a {
  text-decoration: none;
  font-weight: bold;
  color: #666;
  transition-duration: 0.2s;
}

#secondary a:hover {
  color: #CC3300;
}

/* Index specific content */

.index-content {
  display: flex;
  padding: 0 5vw 0 5vw;
}

.index-content section {
  flex: 4;
}

.index-content figure {
  flex: 3;
}


/* Content (seen in primary) */

.content {
  margin: 4vh 16vw 0 16vw;
}

/*Def-list*/

dl {
  float: left;
  width: 300px;
  display: grid;
  grid-template-columns: max-content 1fr;
  padding-bottom: 20px;
}

dt {
  font-weight: bold;
  flex: 1;
  width: 120px;
}

dd {
  flex: 1;
}

dd a {
  text-decoration: none;
  color: #979797;
  transition-duration: 0.2s;
}

dd a:hover {
  color: #DFE4E7;
  text-decoration: underline;
}

/* Floating group photo to the right */

.about-info figure {
  width: 600px;
  float: right;
  margin-bottom: 20px;
}


/* Lists */

ul, ol {
  margin-left: 20px;
}


/* Flexboxes for about page */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

.flexbox {
  max-width: 350px;
  min-height: 600px;
  padding: 16px;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.flexbox img {
  margin-top: auto
}

.flexbox img {
  border: 5px solid #333;
}

.flexbox section {
  padding-bottom: 10px;
}


/* Forms for apply page */

#secondary form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.form-section {
  margin-top: 4px;
}

#secondary fieldset {
  padding: 10px;
}

#secondary label {
  margin-bottom: 10px;
  margin-left: 8px;
  width: 128px;
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
}

#secondary input {
  background-color: #FFFFFF;
  padding-left: 4px;
  margin-left: 8px;
}

/* Style inputs with specific types */
#secondary input[type="checkbox"],
#secondary input[type="radio"] {
  width: 20px;
  height: 20px;
}

#secondary input[type="text"],
#secondary input[type="number"],
#secondary input[type="email"],
#secondary textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Restyle the input button */
#secondary input[type="submit"] {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #007bff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#secondary input[type="submit"]:hover {
  background-color: #0062cc;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  transform: translateY(-2px);
}

/* Custom select dropdown */
#secondary select {
  background: url(../images/dropdown.png) no-repeat right white;
  padding-left: 4px;
  margin-left: 8px;
  margin-left: 8px;
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  appearance: none;
  font-size: 16px;
  color: #333;
  appearance: none;
  cursor: pointer;
}


/* Figures */

figure {
  text-align: center;
  font-size: 12px;
}

figure img {
  border: 5px #DFE4E7 solid;
  width: 100%;
  height: auto;
}


/* Timetable */
.timetable {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.timetable th {
  padding: 10px;
  width: calc(68vw/6);
  font-size: 1.4em;
}

.timetable tr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.timetable td {
  flex: 1;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

/* Different colour styling based on subject */
.timetable .cos {
  background-color:  #87cefa;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #4682b4;
}

.timetable .cos-inq {
  background-color: #ff69b4;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #a14171;
}

.timetable .tne {
  background-color: #dae99a;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #939d68;
}

.timetable .art {
  background-color: #00ad70;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #006400;
}

/* Footer */
footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

footer p {
  font-size: 14px;
  color: #666;
  margin: 0;
}

footer a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #333;
}

footer a:hover {
  color: #000;
  border-color: #000;
}

/* Miscellaneous */
.centered {
  text-align: center;
}